.container {
  padding: 12px;
  position: relative;
  height: 100%;
  width: 100%;
  cursor: pointer;
  border-radius: 5px;
  border: 1px solid rgba(0, 0, 0, 0.15);
  box-shadow: 2px 4px 6px rgba(0, 21, 41, 0.35);
  background: white;
  &:hover {
    transform: scale(1.004);
  }
  .header {
    overflow: hidden;
    // height: 40px;
  }
  .content {
    overflow: hidden;
    height: 80%;
  }

  .footer {
    display: flex;
    max-height: 20%;
  }
}
