// 这里出现样式无法覆盖background的问题
// 应该是最终生成的style表中，backgrond还是排在后面 所有一直是白色导致 自定义的颜色失效
// 所以这里删除background的定义
.container {
  padding: 12px;
  position: relative;
  height: 100%;
  width: 100%;
  cursor: pointer;
  border-radius: 5px;
  border: 1px solid rgba(0, 0, 0, 0.15);
  box-shadow: 2px 4px 6px rgba(0, 21, 41, 0.35);
  // background: white;
  &:hover {
    transform: scale(1.004);
  }
}
